@model BookViewModel

<h1> Book Info</h1>
<hr />
<p>Title @Model.Title</p>
<p>Author: @Model.Author</p>
<p>Description: @Model.Description</p>
<p>Year: @Model.Year</p>
<p>Category: @Model.CategoryName</p>
<div>
    <img src="@Model.ImageURL" width="35%" /> 
</div>